body{
	margin: 0;
	padding: 0;
	display: flex;
}

.sectionHeader{
	justify-content: center;
	display: flex;
	width: 40%;
	height: 100vh;
	overflow: hidden;
	background-image: url(images/waterfalls.jpg);
	background-size: 90vh;
}
.sectionForm{
	background-color: hsl(0, 1%, 90%);
	width: 60%;
	height: 100vh;
}
.pCredit{
	color: hsl(0,100%,100%);
	align-self: end;
}
a{
	color: hsl(0,100%,100%);
}

